<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>

</head>
<body>

 <button onclick="su()">提交</button>
用户列表
 <br/>
 张三 <a href="/delete?id=$urlSign.sign('1')">删除 </a>
 <br/>
 李四 <a href="/delete?id=$urlSign.sign('2')">删除 </a>
</body>
##/delete?id=?id=1&name=2&sign=name_age_123
<script>
</script>
</html>